@model ProjexAuth_2022.Models.Projects

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projectDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projectDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projectOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projectOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
