@model IEnumerable<ProjexAuth_2022.Models.Projects>

@{
    ViewData["Title"] = "Projecten";
}

<h1>Weergave projecten:</h1>
<p>Onderstaand staan alle beschikbare projecten weergegeven.<br />
   De informatie uit de database wordt binnen deze weergave beperkt tot Naam, Beschrijving, Eigenaar, Beschikbaarheid en Publicatiedatum.<br />
   Indien u de juiste rechten heeft, kunt u ook aanmaken, bewerken en verwijderen.
</p>

<p>
    <a asp-action="Create">Nieuw Project aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Projectnaam
            </th>
            <th>
                Omschrijving
            </th>
            <th>
                Projecteigenaar
            </th>
            <th>
                Beschikbaar?
            </th>
            <th>
                Datum publicatie
            </th>
            <th>
                Verdiensten
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.earnings)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Bewerken</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
